{% from "head-component/course-icon.njk" import courseIcon %}

{% macro title(lo, isWall, wallTitle) %}
  <div class="uk-width-1-2@m  uk-card uk-card-default uk-padding-small">
    <div uk-grid>
      <div class="uk-width-1-5@m">
        <img src="{{ lo.img }}" width="60">
      </div>
      <div class="uk-width-expand@m uk-text-left">
        <h2> {{ lo.title }} </h2>
        <div class="uk-text-muted uk-text-small">
          {% if isWall %}
            {{ wallTitle }}
          {% else %}
            {{ lo.properties.credits }}
          {% endif %}
        </div>
      </div>
      <div class="uk-width-1-6@m">
        <div class="uk-card uk-card-small uk-card-hover uk-text-center uk-padding-remove">
          <a target=”_blank” href="https://github.com/edeleastar/tutors-ar">
            <div>
              <i class="fas fa-chalkboard-teacher fa-lg"></i>
            </div>
            <div class="uk-width-expand@m uk-text-left">
              <div class="uk-text-muted uk-text-center" style="font-size:xx-small">
                Tutors
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}
