<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

    <style>
      @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        src: local('Open Sans'), local('OpenSans'),
        url('{{assetprefix}}/fonts/open-sans-v13-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('{{assetprefix}}/fonts/open-sans-v13-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
      }
    </style>

    <link rel="stylesheet" href="{{assetprefix}}/uikit/css/uikit.min.css" />
    <script src="{{assetprefix}}/uikit/js/uikit.min.js"></script>
    <script src="{{assetprefix}}/uikit//js/uikit-icons.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.12.0/js/all.js"></script>
    <script src="https://cdn.jsdelivr.net/combine/npm/highlightjs@9.16.2,npm/jquery@3.4.1"></script>
    <style>
      {% include "css/main.css" %}
    </style>
  </head>
  <body class="uk-background-muted">
    <div class="wrapper">
      <div class="content">
        <div style="height:1000px;">
          {% block content %}
          {% endblock %}
        </div>
      </div>
      <div class="footer uk-text-small uk-text-right uk-text-muted"> Powered by <a
          href="https://github.com/edeleastar/tutors-ts">tutors-ts.</a>
        {{ lo.properties.license }}
      </div>
    </div>
  </body>
</html>
