{% from "head-component/header.njk" import header %}
{% from "layouts/cards.njk" import topicCards %}
{% from "layouts/toc.njk" import toc %}

{% set assetprefix = "../assets" %}
{% extends "main.html" %}

{% block content %}
  {{ toc(lo.parent, "../") }}
  {{ header(lo) }}
  {{ topicCards(lo, lo.los, false) }}
{% endblock %}
